@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  box-sizing: border-box;
} */

body {
  font-family: poppins;
}

/* main {
  opacity: 0.4;
} */

.header-container {
  color: darkblue;
  font-variant: small-caps;
  text-align: center;
  font-size: x-large;
}

.heading-section {
  margin-top: 64px;
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.heading-section img {
  width: 64px;
  height: 64px;
  margin-left: 16px;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 150px;
}

.podium__item {
  width: 300px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
}

.podium__city {
  text-align: center;
  padding: 0 0.5rem;
  margin: 8px;
}

.podium__avatar {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 100px;
  height: auto;
  padding: 0.5rem;
  border-radius: 9999px;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  min-height: 300px;
  background: gold;
  /* border: 1px solid;
  border-color: black; */
}

.podium .second {
  min-height: 200px;
  background: silver;
  /* border: 1px solid;
  border-color: black; */
}

.podium .third {
  min-height: 100px;
  background: burlywood;
  /* border: 1px solid;
  border-color: black; */
}

#filter-player {
  font-size: 16px;
  margin-left: 64px;
  width: 320px;
  height: 32px;
  border: 1px solid;
  border-radius: 6px;
}

#submit-filter {
  display: none;
}

#submit-filter,
#add-player {
  font-size: 16px;
  margin-left: 16px;
  width: 100px;
  height: 32px;
  border: 1px solid;
  border-radius: 6px;
}

.cards {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-rows: auto;
  grid-gap: 8rem;
  border: 1px;
  border-color: black;
  margin: 64px 64px 125px 64px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
}

.card .img-avatar {
  width: 180px;
  /* height: auto;
  padding: 0.5rem;
  border-radius: 9999px; */
}

.card h4 {
  font-size: 18px;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

.card p {
  font-size: 14px;
  text-align: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin: 0;
}

.card .goals {
  font-size: 14px;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  margin: 0;
}

.button-edit {
  background-color: transparent;
  padding: 8px;
  border: 0;
  opacity: 0.6;
  cursor: pointer;
  /* width: 8px;
  height: auto; */
  position: absolute;
  float: right;
  right: 0;
}

.button-edit img {
  width: 32px;
  height: auto;
}

.button-edit:hover {
  opacity: 1;
}

.reveal-modal {
  position: relative;
  margin: 0 auto;
  top: 25%;
}

#container-popup {
  width: 100%;
  top: 20%;
  position: fixed;
  /* visibility: visible; */
  display: none; /*flex*/
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

#container-popup:target {
  visibility: visible;
  display: block;
}

#popup-form {
  background-color: white;
  padding: 32px;
  border: 0.5px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto;
  top: 25%;
}

#popup-form input {
  margin: 8px;
}

#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.img-avatar-popup {
  width: 150px;
  border-radius: 9999px;

  /* height: auto;
  padding: 0.5rem;
  border-radius: 9999px; */
}

#button-container {
  display: flex;
  justify-content: center;
}

#save-button,
#delete-button {
  font-size: 12px;
  margin: 16px;
  width: 64px;
  height: 32px;
  border: 1px solid;
  border-radius: 6px;
}

#delete-button {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.589);
}

#close-popup {
  font-size: 24px;
  background-color: transparent;
  padding: 8px;
  border: 0;
  opacity: 0.6;
  cursor: pointer;
  /* width: 8px;
  height: auto; */
  position: absolute;
  float: right;
  right: 0;
  top: 0;
}

#close-popup:hover {
  opacity: 1;
}

#submit-filter,
#add-player,
#close-popup,
#save-button,
#delete-button {
  cursor: pointer;
}
